.row
  = form_for(message, url: office_hours_path, html: {class: "validate large-8 large-centered columns"}) do |f|
    = render 'application/flashes'
    = f.text_field :name, placeholder: 'Full Name', label: false, required: true
    = f.text_field :email, type: :email, placeholder: 'Email Address', label: false, required: true
    = f.text_field :company, placeholder: "Company", label: false
    = f.text_area :description, placeholder: "Describe your question or idea", label: false, required: true
    = f.select :date, dates_for_select, label: false
    = f.select :timeslot, timeslots_for_select, label: false
    = f.text_field :human, label: 'Are you a human? Just say yes if so.'
    = f.button 'Send Request', class: 'button button--brand1', data: { disable_with: 'Submitting...' }



