.purchase-panel
  - if course.online?
    %h3.purchase-panel__price= number_to_currency(course.current_price, precision: 0)
    %a.purchase-panel__try.button.button--quiet{href: classroom_index_path(anchor: "/courses/#{course.id}")} Try now
    %a.purchase-panel__buy.button.button--brand1{href: new_course_registration_path(course)} Buy Now
  - else
    %h3.purchase-panel__price
      = course.venue_city
      %span= number_to_currency(course.current_price, precision: 0)
    %h5.purchase-panel__date= course.start_date.to_s(:long) if course.start_date.present?
    %p.purchase-panel__description We're doing a one day workshop in #{course.venue_city}. Come learn with us.
    %a.purchase-panel__buy.button.button--brand1{href: course.registration_link} Register Now

