.purchase-panel
  - if course.online?
    %h3.purchase-panel__price= number_to_currency(course.current_price, precision: 0)
    %a.purchase-panel__buy.button.small.radius.success.button.brand3{href: new_course_registration_path(course)} Buy Now!
  - else
    %h3.purchase-panel__price
      = course.venue_city
      %span= number_to_currency(course.current_price, precision: 0)
    %h5.purchase-panel__date= course.start_date.to_s(:long)
    %p.purchase-panel__description We're doing a one day workshop in #{course.venue_city}. Come learn with us.
    %a.purchase-panel__buy.button.small.radius.success.button.brand3{href: course.registration_link} Register Now!

