- content_for(:title) { "JavaScript and Ruby on Rails Training from Gaslight | Cincinnati, OH" }
= render partial: 'application/nav'

#main.container.row.training
  %section.row
    .eleven.columns.centered
      %h2.title.recent--courses Featured Courses
      .row
        - featured_courses.each do |featured_course|
          .six.columns
            .featured-card
              %p.featured-card__meta= featured_course.meta
              %a.featured-card__title{href: course_path(featured_course)}
                %h1= featured_course.title
              %p.featured-card__synopsis= truncate(featured_course.synopsis, length: 160, omission: '...')
              %a.featured-card__more-link{href: course_path(featured_course) } more info
              - if featured_course.in_person?
                %a.button.featured-card__button{href: course_path(featured_course)} Reserve your seat!
              - else
                %a.button.featured-card__button{href: classroom_index_path(anchor: "/courses/#{featured_course.id}")} Try now!

  %section.row.course-list
    .eleven.columns.centered
      %h2.title Course List
      - courses.each do |course|
        .course-list__course
          .row
            .three.columns
              %a{href: course_path(course)}
                %img.course__image{src: course.image_url}

            .nine.columns
              %a.course__more-link{href: course_path(course)} more info
              %a{href: course_path(course)}
                %h1.course__heading= course.title
              %p.course__description= course.synopsis
              %ul.course__children-list
                - course.child_courses.each do |child_course|
                  %li.course__child
                    %a{href: course_path(child_course)}= child_course.meta
              .course__actions
                - if course.in_person?
                  %a.button{href: course_path(course)} Reserve your seat!
                - else
                  %a.button{href: new_course_registration_path(course)} Buy now!
                  %a.button.button--request{href: classroom_index_path(anchor: "/courses/#{course.id}")} Try now!

= render partial: 'application/footer'

