- content_for(:title) { "JavaScript and Ruby on Rails Training from Gaslight | Cincinnati, OH" }

#main.content
  %section.header--training
    .row
      .large-12.columns
        %h1.title--light Build Great Things Faster
    .row
      .large-12.columns
        %h3.subheader--light Master the latest tools for developers with in-person and online training.
        .underline--blue.underline--header

  %section
    .row
      %h2.header Upcoming Workshops
      .underline--blue
    .row
      - in_person_courses.each do |course|
        .large-6.columns.large-centered
          .course.course--in-person.center
            %img.course__img{src: course.image_url}
            %h2.course__title.subheader= course.title
            %p= course.meta
            %p= course.synopsis
            %a.button.button--brand1{href: course_path(course)} Learn more about the class.

  %section.section--contrast
    .row
      %h2.header Online Classes
      .underline--blue
    .row
      - online_courses.each do |course|
        .large-6.columns.large-centered
          .course.course--online.center
            %img.course__img{src: course.image_url}
            %h2.course__title.subheader= course.title
            %p= course.synopsis
            %a.brand1--link.element--sm-margin-bottom{href: course_path(course)} Learn more about the class.
            .row
              %a.button.button--quiet{href: classroom_index_path(anchor: "/courses/#{course.id}")} Try Now
              %a.button.button--brand1{href: new_course_registration_path(course)} Buy Now

  %section
    .row
      %h2.header Custom Training Sessions
      .underline--blue
    .row.center
      .large-8.columns.large-centered
        %p.lead We can bring any workshop or class listed above right to your door. Or create a custom, hands-on training session tailored to your needs.
        %a{href: "mailto:training@gaslight.co", rel: "Training Contact"} Let’s talk about a training session to move your team forward.
