- content_for(:title) { "#{course.title} | Cincinnati, OH" }

#main.no-photo
  .row
    .large-12.columns
      %h1.header= course.title
      .underline--blue

  .row
    .large-7.columns
      .course__description= markdown(course.description_main)

      - course.instructors.each do |instructor|
        %hr
        .instructor
          %h5= instructor.name
          %img{src: instructor.image_url }
          %p= instructor.bio

    .columns.large-4.sidebar--training.center
      - if course.online?
        = render course

      - course.sibling_courses.each do |sibling_course|
        = render sibling_course

      - course.child_courses.each do |child_course|
        = render child_course

      .request
        %hr
        %h4 Can't make this date or location?
        %p
          We’d love to set up a private training session for your group or team.
        %a.brand1--link{href: 'mailto:hello@gaslight.co?subject=Private Training'} Contact Us Now