- content_for(:title) { "#{course.title} | Cincinnati, OH" }
= render partial: 'application/nav'

#main.container.row.training
  %h1.course__title= course.title
  .row
    .columns.eight.trainingcourse__content
      .course
        %p= simple_format(course.description_main)

        %h2.training__subhead What should I know before the course?
        %ul
          %li Familiarity with Javascript
          %li Basic understanding of jQuery or similar DOM manipulation library

        %h2.training__subhead What should I bring?
        %ul
          %li A laptop
          %li A modern web browser (Chrome is highly recommended)

    .columns.four.sidebar--training
      .action_container
        - if course.online?
          %a.button.small.radius.success.button.brand3{href: new_course_registration_path(course)} Buy Now!

        - if course.registration_link.present?
          %a.button.small.radius.success.button.brand3{href: course.registration_link} Register Now!

        - course.sibling_courses.each do |sibling_course|
          = render sibling_course

        - course.child_courses.each do |child_course|
          = render child_course

      .request
        %p
          We can bring this workshop to your location for private training as well.
        %a.button.button--request{href: 'mailto:hello@gaslight.co?subject=Private Training'} Request it!

      - course.instructors.each do |instructor|
        .instructor
          %h5= instructor.name
          %img{src: instructor.image_url }
          %p= instructor.bio

      .testimonial
        %h5 Testimonials
        %p
          "What I've seen so far is pretty freaking amazing. I love the rhythm
          of showing the students a little bit and then forcing them to type in
          order to make it work. The lesson sizes are perfect, very small and
          digestible."

= render partial: 'application/footer'

