- content_for(:title) { "#{course.title} | Cincinnati, OH" }
= render partial: 'application/nav'

#main.content.course
  .row
    .large-12.columns
      %h1.course__title= course.title

  .row
    .large-8.columns
      %p.course__description= markdown(course.description_main)

    .columns.large-4
      - if course.online?
        = render course

      - course.sibling_courses.each do |sibling_course|
        = render sibling_course

      - course.child_courses.each do |child_course|
        = render child_course

      .request
        %h4 Can't make this date or location?
        %p
          We’d love to set up a private training session for your group or team.
        %a.button.button--request{href: 'mailto:hello@gaslight.co?subject=Private Training'} Contact Us Now

      / .newsletter
      /   %h4 Want to know about future workshops?
      /   %p
      /     Sign-up for our monthly e-mail newsletter:
      /     = render partial: 'application/newsletter'

      - course.instructors.each do |instructor|
        .instructor
          %h5= instructor.name
          %img{src: instructor.image_url }
          %p= instructor.bio

      .testimonial
        %h5 Testimonials
        %p
          "What I've seen so far is pretty freaking amazing. I love the rhythm
          of showing the students a little bit and then forcing them to type in
          order to make it work. The lesson sizes are perfect, very small and
          digestible."

= render partial: 'application/footer'

