- content_for(:title) { "Gaslight: Recent Work" }
= render partial: 'application/nav'

#main.landing-page
  %section.section--contrast
    .row
      .large-12.columns.large-centered
        %h1.title A Great App Takes Your Business New Places
    .row
      .large-8.columns.large-centered
        %h3.subheader See how we’ve given our clients a boost with custom software. 
        .underline--blue
  %section
    %a.case-study__link{ href: page_path('case-studies/ipc') }
      %section.case-study--ipc
        .hero__featured-header--animated
          .row
            .large-11.columns
              %h3 View Case Study
              .case-study__buzzword Independent Purchasing Cooperative
              %h3 JRuby Project

    %a.case-study__link{ href: page_path('case-studies/lumbee') }
      %section.case-study--lumbee
        .hero__featured-header--animated
          .row
            .large-11.columns
              %h3 View Featured Case Study
              .case-study__buzzword Lumbee Enterprises
              %h3 Update Legacy App

  %section.row.clients
    %a.anchor{name:"clients"}
    .large-11.columns.centered
      %h2.header.underline--yellow Our Clients
      %p.lead We partner with everyone from start-ups to Fortune 500s in a range of industries. 
      %ul.clientsList.row
        %li
          = link_to('http://www.pg.com/en_US/') do
            %i.brand-pg
        %li
          = link_to('http://outright.com/') do
            %i.brand-outright
        %li
          = link_to('http://enjoythearts.org/') do
            %i.brand-eta
        %li
          = link_to('http://www.sharethrough.com/') do
            %i.brand-sharethrough
        %li
          = link_to('http://agrisiteipm.com/') do
            %i.brand-agsync
        %li
          = link_to('http://roadtrippers.com/') do
            %i.brand-roadtripper
        %li
          = link_to('http://www.apexindustrial.com/') do
            %i.brand-apex
        %li
          = link_to('http://www.lumbeena.com/') do
            %i.brand-lumbee
        %li
          = link_to('http://www.ccli.org/') do
            %i.brand-ccl
        %li
          = link_to('http://www.hyperquake.com/') do
            %i.brand-hyperquake
        %li
          = link_to('https://renewfund.com/overview') do
            %i.brand-renewfund
        %li
          = link_to('https://www.vendorwizard.com/') do
            %i.brand-vendor

= render partial: 'application/footer'
