{{purchase-modal active=purchasing course=this}}

<header class="bar">
  <h1 class="bar__title">
    <i {{action 'toggleSidebar'}} class="icon-list bar__title__hamburger" ></i>{{controllers.application.title}}
  </h1>
  <div class="user-profile">
    <div class="user-profile__picture">
      <img alt="user" class="picture--default" src="/assets/training_app/user.png"/>
    </div>
    <p class="user-profile__name"> Admiral William Adama </p>
  </div>
  <div class="progress-bar">
    <div class="progress-bar__background"></div>
    <div {{bindAttr style=barStyle}} class="progress-bar__current-progress"></div>
  </div>
</header>

{{outlet}}