.columns.large-3.prepend-1.sidebar--blog
  = render partial: 'search_form'
  .sidebar__newsletter
    %p
      Sign up for monthly tech tips, news and events:
      = render partial: 'application/newsletter'
  %a.button.button--black.button--full-width{href: posts_path(tagged: 'podcast'), rel: "Podcast"} Check Out Our Podcast
  %h3.sidebar__heading Tags
  .tag-container
    = popular_tag_links(post.tag_counts)
  %h3.sidebar__heading More
  - if post.previous
    %p.sidebar__nav Previous: #{link_to(post.previous.title, post.previous)}
  - if post.next
    %p.sidebar__nav Next: #{link_to(post.next.title, post.next)}
  - if post.related.any?
    %h3.sidebar__heading More Like This
    %ul.related-posts
      - post.related.each do |post|
        %li.related-post= link_to(post.title, post)
